.banner {
  align-items: center;
  background-color: #004c3f;
  color: #d3d3d3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.8rem 2rem;
  width: 100%;
}

.bannerActions {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1.5rem;
  margin-top: 0.5rem;
  text-align: right;
}

.bannerButton {
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 0.2rem;
  color: #d3d3d3;
  font-weight: bold;
  padding: 0.5rem;
}

.bannerButton:hover {
  background-color: #d3d3d3;
  color: #004c3f;
  cursor: pointer;
}

.bannerEmphasis {
  background-color: #d3d3d3;
  color: #004c3f;
  padding: 0 0.5rem;
}

.bannerIcon {
  font-size: 3rem;
}

.bannerText {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  text-align: justify;
}

@media screen and (max-width: 320px) {
  .banner {
    display: flex;
    gap: 1rem;
  }

  .bannerIcon {
    display: none;
  }

  .bannerMessage {
    padding: 0.5rem 2.5rem;
  }
}

@media screen and (max-width: 435px) {
  .banner {
    display: flex;
    padding: 1.2rem 0.5rem;
    gap: 1rem;
  }

  .bannerIcon {
    display: none;
  }

  .bannerText {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    text-align: justify;
  }
}


